
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h1 {
    font-weight: 600;
}

#h1-header {
    font-weight: 200;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    font-weight: 200;
}

#p-header > p {
    font-size: 1.5rem;
    width: 60%;
    margin: 20px auto auto auto;
}

header {
    margin: 50px auto auto auto;
    font-size: 1.5rem;
}

body { 
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  text-align: center;  
}

#main-container {
    display: flex;
    margin-top: 60px;
}

.supervisor-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top:5px solid rgb(100, 228, 237);
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    margin: auto 30px auto auto;
    padding: 30px;
    width: 350px;
    height: 250px;
}

.img-supervisor {
    position: relative;
    top: 50px;
    left: 200px;
}

.supervisor-container > div{
    text-align: left;
    line-height: 2;
    width: 70%;
}

.teamB-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top:5px solid rgb(248, 56, 56);
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    padding: 30px;
    margin-bottom: 30px;
    width: 350px;
    height: 250px;
}

.img-teamb {
    position: relative;
    top: 50px;
    left: 200px;
}

.teamB-container > div {
    text-align: left;
    line-height: 2;
    width: 70%;
}

.karma-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top:5px solid rgb(247, 250, 63);
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    padding: 30px;
    width: 350px;
    height: 250px;
}

.img-karma {
    position: relative;
    top: 50px;
    left: 200px;
}

.karma-container > div {
    text-align: left;
    line-height: 2;
    width: 70%;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top:5px solid cornflowerblue;
    border-radius: 2%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    margin: auto auto auto 30px;
    padding: 30px;
    width: 350px;
    height: 250px;
}

.img-calculator {
    position: relative;
    top: 50px;
    left: 200px;
}

.calculator-container > div{
    text-align: left;
    line-height: 2;
    width: 70%;
}


footer {
    margin: 20px auto auto auto;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }